Repository krbaio3/ngx-backoffice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write ./src, npx sort-package-json

.lintstagedrc:

{
  "./src/**/*.ts": [
    "eslint --fix",
    "prettier --write  ./src"
  ],
  "package.json": [
    "npx sort-package-json"
  ]
}

Initial commit
  .gitignore
  LICENSE
  README.md
Due: none

chore: refactor config
  angular.json
  config/test/config.js
  config/test/jest.config.js
  config/test/setup-jest.ts
  config/test/test-config.helper.ts
  config/test/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.json
Due: npx sort-package-json

feat: navbar
  package-lock.json
  src/app/app.component.spec.ts
  src/app/common/fullscreen/fullscreen.component.spec.ts
  src/app/common/search-bar/search-bar.component.spec.ts
  src/app/common/sidebar/sidebar.component.spec.ts
  src/app/common/sidebar/sidebar.component.ts
  src/app/common/sidemenu-item/sidemenu-item.component.spec.ts
  src/app/common/sidemenu-item/sidemenu-item.component.ts
  src/app/common/sidemenu/sidemenu.component.spec.ts
  src/app/common/sidemenu/sidemenu.component.ts
  src/app/common/toolbar-notification/toolbar-notification.component.spec.ts
  src/app/common/user-menu/user-menu.component.spec.ts
  src/app/core/toolbar/toolbar.component.spec.ts
  src/app/core/toolbar/toolbar.component.ts
  src/app/core/toolbar/toolbar.service.spec.ts
  src/app/core/toolbar/toolbar.service.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write ./src

feat: navbar
  config/test/setup-jest.ts
  package-lock.json
  package.json
  src/app/common/fullscreen/fullscreen.component.spec.ts
  src/app/common/fullscreen/fullscreen.component.ts
  src/app/common/fullscreen/fullscreen2.component.spec.ts
  src/app/common/search-bar/search-bar.component.scss
  src/app/common/search-bar/search-bar.component.spec.ts
  src/app/common/search-bar/search-bar.component.ts
  src/app/common/sidebar/sidebar.component.html
  src/app/common/sidebar/sidebar.component.scss
  src/app/common/sidemenu-item/sidemenu-item.component.html
  src/app/common/sidemenu-item/sidemenu-item.component.scss
  src/app/common/sidemenu/sidemenu.component.html
  src/app/common/sidemenu/sidemenu.component.scss
  src/app/common/toolbar-notification/toolbar-notification.component.scss
  src/app/common/user-menu/user-menu.component.scss
  src/app/core/toolbar/toolbar.component.ts
  src/assets/logo-atmira.svg
  src/index.html
Due: eslint --fix, prettier --write ./src, npx sort-package-json

feat: sidenav
  src/app/app.module.ts
  src/app/common-app/dashboard/dashboard.component.scss
  src/app/common-app/dashboard/dashboard.component.spec.ts
  src/app/common-app/dashboard/dashboard.component.ts
  src/app/common-app/dashboard/dashboard.module.ts
  src/app/common-app/sidenav/sidenav.component.scss
  src/app/common-app/sidenav/sidenav.component.spec.ts
  src/app/common-app/sidenav/sidenav.component.ts
  src/app/common-app/sidenav/sidenav.module.ts
  src/app/common-app/sidenav/sidenav.service.spec.ts
  src/app/common-app/sidenav/sidenav.service.ts
  src/app/common/common-extension.module.ts
  src/app/common/user-avatar/user-avatar.component.scss
  src/app/common/user-avatar/user-avatar.component.spec.ts
  src/app/common/user-avatar/user-avatar.component.ts
  src/app/common/user-avatar/user-avatar.model.ts
  src/app/core/toolbar/toolbar.component.ts
Due: eslint --fix, prettier --write ./src

feat: sidenav
  src/app/common-app/dashboard/dashboard.component.spec.ts
  src/app/common-app/sidenav/sidenav.component.scss
  src/app/common-app/sidenav/sidenav.component.spec.ts
  src/app/common-app/sidenav/sidenav.component.ts
  src/app/common-app/sidenav/sidenav.module.ts
  src/app/common-app/sidenav/sidenav.service.ts
  src/app/common/common-extension.module.ts
  src/app/common/side-menu-item/side-menu-accordion-item.component.ts
  src/app/common/side-menu-item/side-menu-item.component.scss
  src/app/common/side-menu-item/side-menu-item.component.spec.ts
  src/app/common/side-menu-item/side-menu-item.component.ts
  src/app/common/side-menu-item/side-menu-only-item.component.ts
  src/app/common/side-menu/menu-element.ts
  src/app/common/side-menu/side-menu.component.scss
  src/app/common/side-menu/side-menu.component.spec.ts
  src/app/common/side-menu/side-menu.component.ts
  src/app/common/sidemenu-item/sidemenu-item.component.html
  src/app/common/sidemenu-item/sidemenu-item.component.scss
  src/app/common/sidemenu-item/sidemenu-item.component.ts
  src/app/common/sidemenu/menu-element.ts
  src/app/common/sidemenu/sidemenu.component.html
  src/app/common/sidemenu/sidemenu.component.scss
  src/app/common/sidemenu/sidemenu.component.ts
  src/app/common/user-avatar/user-avatar.component.scss
  src/app/common/user-avatar/user-avatar.component.ts
  src/app/core/core.module.ts
  src/app/core/toolbar/toolbar.component.ts
  src/app/core/user-info/user-info.component.scss
  src/app/core/user-info/user-info.component.spec.ts
  src/app/core/user-info/user-info.component.ts
Due: eslint --fix, prettier --write ./src

feat: sidenav
  package-lock.json
  package.json
  src/app/common-app/sidenav/sidenav.component.spec.ts
  src/app/common-app/sidenav/sidenav.component.ts
  src/app/common-app/sidenav/sidenav.service.spec.ts
  src/app/common-app/sidenav/sidenav.service.ts
  src/app/common/fullscreen/fullscreen.component.ts
  src/app/common/fullscreen/fullscreen2.component.spec.ts
  src/app/common/side-menu-item/side-menu-accordion-item.component.ts
  src/app/common/side-menu-item/side-menu-item.component.spec.ts
  src/app/common/side-menu-item/side-menu-item.component.ts
  src/app/common/side-menu-item/side-menu-only-item.component.ts
  src/app/common/side-menu/side-menu.component.spec.ts
  src/app/common/side-menu/side-menu.component.ts
  src/app/common/side-menu/side-menu.service.spec.ts
  src/app/common/side-menu/side-menu.service.ts
  src/app/common/sidebar/sidebar.component.html
  src/app/common/sidebar/sidebar.component.scss
  src/app/common/sidebar/sidebar.component.spec.ts
  src/app/common/sidebar/sidebar.component.ts
  src/app/common/toolbar-notification/toolbar-notification.component.scss
  src/app/common/toolbar-notification/toolbar-notification.component.spec.ts
  src/app/common/toolbar-notification/toolbar-notification.component.ts
  src/app/common/toolbar-notification/toolbar-notification.model.ts
  src/app/core/toolbar/toolbar.component.ts
  src/app/utils/variable-styles.global.ts
Due: eslint --fix, prettier --write ./src, npx sort-package-json

refactor: routing
  src/app/app-routing.module.ts
  src/app/common-app/index.ts
  src/app/core/sidenav/sidenav.module.ts
  src/app/pods/account/account-routing.module.ts
  src/app/pods/documentation/documentation-routing.module.ts
  src/app/pods/main/main-routing.module.ts
Due: eslint --fix, prettier --write ./src

refactor: app
  src/app/app-init.service.spec.ts
  src/app/app-init.service.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/common/side-menu-item/side-menu-accordion-item.component.ts
  src/app/common/side-menu-item/side-menu-item.component.spec.ts
  src/app/common/side-menu-item/side-menu-item.component.ts
  src/app/common/side-menu-item/side-menu-only-item.component.ts
  src/app/common/side-menu/side-menu.component.spec.ts
  src/app/common/side-menu/side-menu.component.ts
  src/app/common/side-menu/side-menu.service.spec.ts
  src/app/common/side-menu/side-menu.service.ts
  src/app/common/side-menu/sidenav.model.ts
  src/app/common/side-menu/test/sidenav.mock.ts
  src/app/common/sidebar/sidebar.component.html
  src/app/common/sidebar/sidebar.component.scss
  src/app/common/sidebar/sidebar.component.spec.ts
  src/app/common/sidebar/sidebar.component.ts
  src/app/common/toolbar-notification/toolbar-notification.component.spec.ts
  src/app/common/toolbar-notification/toolbar-notification.component.ts
  src/app/common/user-avatar/user-avatar.component.scss
  src/app/common/user-avatar/user-avatar.model.ts
  src/app/core/sidenav/sidenav.component.spec.ts
  src/app/core/sidenav/sidenav.component.ts
  src/app/core/toolbar/toolbar.component.spec.ts
  src/app/core/toolbar/toolbar.component.ts
  src/app/pods/account/account.component.spec.ts
  src/app/pods/documentation/documentation.component.spec.ts
  src/app/pods/documentation/documentation.module.ts
  src/app/pods/main/main.component.spec.ts
  src/app/utils/test/sidenav.mock.ts
  src/app/utils/test/user-avatar.mock.ts
Due: eslint --fix, prettier --write ./src

feat: user
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/common-app/common-app.module.ts
  src/app/common-app/user-information/user-information.component.scss
  src/app/common-app/user-information/user-information.component.ts
  src/app/common/common-extension.module.ts
  src/app/common/pipe/capitalize-space.pipe.spec.ts
  src/app/common/pipe/capitalize-space.pipe.ts
  src/app/common/pipe/transform-object.pipe.spec.ts
  src/app/common/pipe/transform-object.pipe.ts
  src/app/common/static-field/static-field.component.spec.ts
  src/app/common/static-field/static-field.component.ts
  src/app/core/sidenav/sidenav.component.ts
  src/app/pods/account/account-routing.module.ts
  src/app/pods/account/account.component.ts
  src/app/pods/account/account.module.ts
  src/app/pods/account/account.routes.ts
  src/app/pods/account/account.service.spec.ts
  src/app/pods/account/account.service.ts
  src/app/pods/account/api-to-vm.ts
  src/app/pods/account/user-account.api.model.ts
  src/app/pods/account/user-account.model.ts
  src/assets/json/user-account.json
  src/styles.scss
Due: eslint --fix, prettier --write ./src, npx sort-package-json

refactor: common
  src/app/common-app/common-app.module.ts
  src/app/common-app/summary/summary.module.ts
  src/app/common-app/user-information/user-information-routing.module.ts
  src/app/common-app/user-information/user-information.module.ts
  src/app/common/filter-menu/filter-menu.module.ts
  src/app/common/fullscreen/fullscreen.module.ts
  src/app/common/media-item/media-item.module.ts
  src/app/common/pipe/custom-pipes.module.ts
  src/app/common/search-bar/search-bar.module.ts
  src/app/common/select/select.module.ts
  src/app/common/side-menu-item/side-menu-item.module.ts
  src/app/common/side-menu/side-menu.module.ts
  src/app/common/static-field/static-field.module.ts
  src/app/common/toolbar-notification/toolbar-notification.module.ts
  src/app/common/user-avatar/user-avatar.module.ts
  src/app/common/user-menu/user-menu.module.ts
  src/app/core/core.module.ts
  src/app/core/sidenav/sidenav.module.ts
  src/app/core/single-field/single-field.component.ts
  src/app/core/toolbar/toolbar.module.ts
  src/app/pods/account/account.module.ts
  src/app/pods/main/main-routing.module.ts
  src/app/pods/main/main.module.ts
Due: eslint --fix, prettier --write ./src

test: fix test
  src/app/common-app/ad-hoc-reports/ad-hoc-reports.component.spec.ts
  src/app/common-app/ad-hoc-reports/ad-hoc-reports.component.ts
  src/app/common-app/ad-hoc-reports/ad-hoc-reports.service.spec.ts
  src/app/common-app/ad-hoc-reports/ad-hoc-reports.service.ts
  src/app/common-app/ad-hoc-reports/api.temporal.ts
  src/app/common-app/ad-hoc-reports/parties/parties.component.spec.ts
  src/app/common-app/summary/detail-monitoring/detail-monitoring.component.spec.ts
  src/app/common-app/summary/summary.component.spec.ts
  src/app/common-app/summary/summary.service.spec.ts
  src/app/common-app/summary/summary.service.ts
  src/app/common/filter-menu/filter-menu-item/filter-menu-item.component.spec.ts
  src/app/common/pipe/capitalize-space.pipe.spec.ts
  src/app/common/pipe/capitalize-space.pipe.ts
  src/app/common/user-menu/user-menu.component.spec.ts
  src/app/common/user-menu/user-menu.component.ts
  src/app/core/sidenav/sidenav.component.spec.ts
  src/app/core/toolbar/toolbar.component.spec.ts
Due: eslint --fix, prettier --write ./src

feat: upload
  angular.json
  package-lock.json
  package.json
  src/app/common-app/ad-hoc-reports/additional-filters/additional-filters.component.ts
  src/app/common-app/ad-hoc-reports/product/product.component.ts
  src/app/common-app/ad-hoc-reports/query-details/query-details.component.ts
  src/app/common-app/summary/summary.component.ts
  src/app/common-app/upload/upload-routing.module.ts
  src/app/common-app/upload/upload.component.scss
  src/app/common-app/upload/upload.component.spec.ts
  src/app/common-app/upload/upload.component.ts
  src/app/common-app/upload/upload.module.ts
  src/app/common/index.ts
  src/app/common/input-file/dnd/dnd.directive.spec.ts
  src/app/common/input-file/dnd/dnd.directive.ts
  src/app/common/input-file/index.ts
  src/app/common/input-file/input-file.component.scss
  src/app/common/input-file/input-file.component.spec.ts
  src/app/common/input-file/input-file.component.ts
  src/app/common/input-file/input-file.model.ts
  src/app/common/input-file/input-file.module.ts
  src/app/common/input-file/progress/progress.component.spec.ts
  src/app/common/input-file/progress/progress.component.ts
  src/app/common/pipe/capitalize-space.pipe.spec.ts
  src/app/common/static-field/static-field.module.ts
  src/app/core/ad-hoc-scaffold/ad-hoc-scaffold.component.ts
  src/app/core/body-options/body-options.component.ts
  src/app/pods/main/main-routing.module.ts
Due: eslint --fix, prettier --write ./src, npx sort-package-json

feat: upload (#4)
  angular.json
  package-lock.json
  package.json
  src/app/common-app/ad-hoc-reports/additional-filters/additional-filters.component.ts
  src/app/common-app/ad-hoc-reports/product/product.component.ts
  src/app/common-app/ad-hoc-reports/query-details/query-details.component.ts
  src/app/common-app/summary/summary.component.ts
  src/app/common-app/upload/upload-routing.module.ts
  src/app/common-app/upload/upload.component.scss
  src/app/common-app/upload/upload.component.spec.ts
  src/app/common-app/upload/upload.component.ts
  src/app/common-app/upload/upload.module.ts
  src/app/common/index.ts
  src/app/common/input-file/dnd/dnd.directive.spec.ts
  src/app/common/input-file/dnd/dnd.directive.ts
  src/app/common/input-file/index.ts
  src/app/common/input-file/input-file.component.scss
  src/app/common/input-file/input-file.component.spec.ts
  src/app/common/input-file/input-file.component.ts
  src/app/common/input-file/input-file.model.ts
  src/app/common/input-file/input-file.module.ts
  src/app/common/input-file/progress/progress.component.spec.ts
  src/app/common/input-file/progress/progress.component.ts
  src/app/common/pipe/capitalize-space.pipe.spec.ts
  src/app/common/static-field/static-field.module.ts
  src/app/core/ad-hoc-scaffold/ad-hoc-scaffold.component.ts
  src/app/core/body-options/body-options.component.ts
  src/app/pods/main/main-routing.module.ts
Due: eslint --fix, prettier --write ./src, npx sort-package-json

feat: response-files
  config/test/jest.config.js
  package.json
  src/app/common-app/index.ts
  src/app/common-app/response-files/api.temporal.ts
  src/app/common-app/response-files/response-files-routing.module.ts
  src/app/common-app/response-files/response-files.component.spec.ts
  src/app/common-app/response-files/response-files.component.ts
  src/app/common-app/response-files/response-files.module.ts
  src/app/common-app/response-files/response-files.service.spec.ts
  src/app/common-app/response-files/response-files.service.ts
  src/app/common-app/response-files/search-files/search-files.component.spec.ts
  src/app/common-app/response-files/search-files/search-files.component.ts
  src/app/common-app/response-files/table-files/table-files.component.spec.ts
  src/app/common-app/response-files/table-files/table-files.component.ts
  src/app/common-app/summary/summary.component.spec.ts
  src/app/common-app/summary/summary.module.ts
  src/app/common-app/user-information/user-information.component.ts
  src/app/core/index.ts
  src/app/core/table-detail/table-detail.component.spec.ts
  src/app/core/table-detail/table-detail.component.ts
  src/app/core/table-detail/table-detail.module.ts
  src/app/pods/account/account.module.ts
  src/app/pods/main/main-routing.module.ts
  src/app/pods/main/main.module.ts
  src/app/utils/fake.ts
  src/assets/my_example.csv
Due: eslint --fix, prettier --write ./src, npx sort-package-json

fix: products
  src/app/common-app/ad-hoc-reports/ad-hoc-reports.module.ts
  src/app/common-app/ad-hoc-reports/product/product.component.ts
Due: eslint --fix, prettier --write ./src

fix: products (#5)
  src/app/common-app/ad-hoc-reports/ad-hoc-reports.module.ts
  src/app/common-app/ad-hoc-reports/product/product.component.ts
Due: eslint --fix, prettier --write ./src

feat: guide
  src/app/app.module.ts
  src/app/common-app/guides/api.temporal.ts
  src/app/common-app/guides/guides-routing.module.ts
  src/app/common-app/guides/guides.component.scss
  src/app/common-app/guides/guides.component.spec.ts
  src/app/common-app/guides/guides.component.ts
  src/app/common-app/guides/guides.model.ts
  src/app/common-app/guides/guides.module.ts
  src/app/common-app/guides/guides.service.spec.ts
  src/app/common-app/guides/guides.service.ts
  src/app/common/index.ts
  src/app/common/search-bar/search-bar.component.spec.ts
  src/app/common/side-menu/index.ts
  src/app/common/table-filter/index.ts
  src/app/common/table-filter/table-filter.component.spec.ts
  src/app/common/table-filter/table-filter.component.ts
  src/app/common/table-filter/table-filter.module.ts
  src/app/core/index.ts
  src/app/core/input-select/input-select.component.spec.ts
  src/app/core/input-select/input-select.component.ts
  src/app/core/input-select/input-select.model.ts
  src/app/core/input-select/input-select.module.ts
  src/app/core/toolbar/toolbar.component.spec.ts
  src/app/pods/advanced-queries/advanced-queries.component.ts
  src/app/pods/documentation/documentation-routes-names.ts
  src/app/pods/documentation/documentation-routing.module.ts
  src/app/pods/documentation/documentation.component.scss
  src/app/pods/documentation/documentation.component.spec.ts
  src/app/pods/documentation/documentation.component.ts
  src/app/pods/documentation/documentation.module.ts
  src/assets/dummy.pdf
Due: eslint --fix, prettier --write ./src

feat: documentation (#6)
  src/app/app.module.ts
  src/app/common-app/guides/api.temporal.ts
  src/app/common-app/guides/guides-routing.module.ts
  src/app/common-app/guides/guides.component.scss
  src/app/common-app/guides/guides.component.spec.ts
  src/app/common-app/guides/guides.component.ts
  src/app/common-app/guides/guides.model.ts
  src/app/common-app/guides/guides.module.ts
  src/app/common-app/guides/guides.service.spec.ts
  src/app/common-app/guides/guides.service.ts
  src/app/common/index.ts
  src/app/common/search-bar/search-bar.component.spec.ts
  src/app/common/side-menu/index.ts
  src/app/common/table-filter/index.ts
  src/app/common/table-filter/table-filter.component.spec.ts
  src/app/common/table-filter/table-filter.component.ts
  src/app/common/table-filter/table-filter.module.ts
  src/app/core/index.ts
  src/app/core/input-select/input-select.component.spec.ts
  src/app/core/input-select/input-select.component.ts
  src/app/core/input-select/input-select.model.ts
  src/app/core/input-select/input-select.module.ts
  src/app/core/toolbar/toolbar.component.spec.ts
  src/app/pods/advanced-queries/advanced-queries.component.ts
  src/app/pods/documentation/documentation-routes-names.ts
  src/app/pods/documentation/documentation-routing.module.ts
  src/app/pods/documentation/documentation.component.scss
  src/app/pods/documentation/documentation.component.spec.ts
  src/app/pods/documentation/documentation.component.ts
  src/app/pods/documentation/documentation.module.ts
  src/assets/dummy.pdf
Due: eslint --fix, prettier --write ./src

test: guide add test handlerEmitterSelect
  src/app/common-app/guides/guides.component.spec.ts
  src/app/common-app/guides/guides.component.ts
Due: eslint --fix, prettier --write ./src

Feature/guides (#7)
  src/app/common-app/guides/guides.component.spec.ts
  src/app/common-app/guides/guides.component.ts
Due: eslint --fix, prettier --write ./src

feat: advanced filters
  src/app/common-app/ad-hoc-reports/ad-hoc-reports.component.ts
  src/app/common-app/advanced-filters/advanced-filters.component.ts
  src/app/common-app/advanced-filters/advanced-filters.module.ts
  src/app/common-app/advanced-filters/advanced-filters.service.spec.ts
  src/app/common-app/advanced-filters/advanced-filters.service.ts
  src/app/common-app/response-files/response-files.component.ts
  src/app/core/index.ts
  src/app/core/query-details/api.temporal.ts
  src/app/core/query-details/query-details.component.spec.ts
  src/app/core/query-details/query-details.component.ts
  src/app/core/query-details/query-details.model.ts
  src/app/core/query-details/query-details.module.ts
  src/app/pods/main/main-routes-names.ts
  src/app/utils/variable-styles.global.ts
Due: eslint --fix, prettier --write ./src

feat: build advanced filters
  src/app/common-app/advanced-filters/advanced-filters.component.spec.ts
  src/app/common-app/advanced-filters/advanced-filters.component.ts
  src/app/common-app/advanced-filters/advanced-filters.model.ts
  src/app/common-app/advanced-filters/advanced-filters.module.ts
  src/app/common-app/advanced-filters/advanced-filters.service.spec.ts
  src/app/common-app/advanced-filters/advanced-filters.service.ts
  src/app/common-app/advanced-filters/api.temporal.ts
Due: eslint --fix, prettier --write ./src

perf(change name): temporal => api.temporal
  src/app/common-app/summary/api.temporal.ts
  src/app/common-app/summary/doughnut-detail/doughnut-detail.component.ts
  src/app/common-app/summary/summary.component.ts
  src/app/common-app/summary/summary.service.spec.ts
  src/app/common-app/summary/summary.service.ts
  src/app/core/index.ts
  src/app/core/input-select/input-select.component.spec.ts
  src/app/core/query-details/api.temporal.ts
  src/app/core/query-details/query-details.component.ts
  src/app/core/query-details/query-details.model.ts
  src/app/core/toolbar/toolbar.module.ts
  src/app/utils/test/mock-data.ts
Due: eslint --fix, prettier --write ./src

chore: config
  config/test/jest.config.js
  package.json
Due: npx sort-package-json

feat: improve
  src/app/common/filter-menu/filter-menu-item/filter-menu-item.component.ts
  src/app/common/filter-menu/filter-menu.component.ts
  src/app/common/input-file/input-file.component.spec.ts
  src/app/common/search-bar/search-bar.module.ts
  src/app/common/table-filter/table-filter.component.spec.ts
  src/app/common/table-filter/table-filter.component.ts
  src/app/common/table-filter/table-filter.module.ts
Due: eslint --fix, prettier --write ./src

Feature/advanced filters (#8)
  config/test/jest.config.js
  package.json
  src/app/common-app/ad-hoc-reports/ad-hoc-reports.component.ts
  src/app/common-app/advanced-filters/advanced-filters.component.spec.ts
  src/app/common-app/advanced-filters/advanced-filters.component.ts
  src/app/common-app/advanced-filters/advanced-filters.model.ts
  src/app/common-app/advanced-filters/advanced-filters.module.ts
  src/app/common-app/advanced-filters/advanced-filters.service.spec.ts
  src/app/common-app/advanced-filters/advanced-filters.service.ts
  src/app/common-app/advanced-filters/api.temporal.ts
  src/app/common-app/response-files/response-files.component.ts
  src/app/common-app/summary/api.temporal.ts
  src/app/common-app/summary/doughnut-detail/doughnut-detail.component.ts
  src/app/common-app/summary/summary.component.ts
  src/app/common-app/summary/summary.service.spec.ts
  src/app/common-app/summary/summary.service.ts
  src/app/common/filter-menu/filter-menu-item/filter-menu-item.component.ts
  src/app/common/filter-menu/filter-menu.component.ts
  src/app/common/input-file/input-file.component.spec.ts
  src/app/common/search-bar/search-bar.module.ts
  src/app/common/table-filter/table-filter.component.spec.ts
  src/app/common/table-filter/table-filter.component.ts
  src/app/common/table-filter/table-filter.module.ts
  src/app/core/index.ts
  src/app/core/input-select/input-select.component.spec.ts
  src/app/core/query-details/query-details.component.spec.ts
  src/app/core/query-details/query-details.component.ts
  src/app/core/query-details/query-details.model.ts
  src/app/core/query-details/query-details.module.ts
  src/app/core/toolbar/toolbar.module.ts
  src/app/pods/main/main-routes-names.ts
  src/app/utils/test/mock-data.ts
  src/app/utils/variable-styles.global.ts
Due: eslint --fix, prettier --write ./src, npx sort-package-json

fix: lazyload
  src/app/app-init.service.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/common-app/fails/fails-routing.module.ts
  src/app/common-app/fails/fails.component.spec.ts
  src/app/common-app/fails/fails.component.ts
  src/app/common-app/fails/fails.module.ts
  src/app/core/sidenav/sidenav.component.ts
  src/app/pods/advanced-queries/advanced-queries-routing.module.ts
  src/app/pods/benchmark/benchmark-routes-names.ts
  src/app/pods/benchmark/benchmark-routing.module.ts
  src/app/pods/benchmark/benchmark.component.spec.ts
  src/app/pods/benchmark/benchmark.component.ts
  src/app/pods/benchmark/benchmark.module.ts
  src/app/pods/documentation/documentation-routing.module.ts
  src/app/pods/documentation/documentation.module.ts
  src/app/pods/main/main-routing.module.ts
  src/app/pods/main/main.component.ts
Due: eslint --fix, prettier --write ./src

fix: lazyload (#9)
  src/app/app-init.service.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/common-app/fails/fails-routing.module.ts
  src/app/common-app/fails/fails.component.spec.ts
  src/app/common-app/fails/fails.component.ts
  src/app/common-app/fails/fails.module.ts
  src/app/core/sidenav/sidenav.component.ts
  src/app/pods/advanced-queries/advanced-queries-routing.module.ts
  src/app/pods/benchmark/benchmark-routes-names.ts
  src/app/pods/benchmark/benchmark-routing.module.ts
  src/app/pods/benchmark/benchmark.component.spec.ts
  src/app/pods/benchmark/benchmark.component.ts
  src/app/pods/benchmark/benchmark.module.ts
  src/app/pods/documentation/documentation-routing.module.ts
  src/app/pods/documentation/documentation.module.ts
  src/app/pods/main/main-routing.module.ts
  src/app/pods/main/main.component.ts
Due: eslint --fix, prettier --write ./src

feat: benchmark
  src/app/app.module.ts
  src/app/common-app/fails/api.temporal.ts
  src/app/common-app/fails/fails.component.spec.ts
  src/app/common-app/fails/fails.component.ts
  src/app/common-app/fails/fails.model.ts
  src/app/common-app/fails/fails.module.ts
  src/app/common-app/fails/fails.service.ts
  src/app/common-app/fails/fais.service.spec.ts
  src/app/common-app/fails/ranking-list/ranking-list.component.spec.ts
  src/app/common-app/fails/ranking-list/ranking-list.component.ts
  src/app/common-app/fails/table-logs/table-logs.component.spec.ts
  src/app/common-app/fails/table-logs/table-logs.component.ts
  src/app/common-app/fails/table-logs/wrapper-table.component.ts
  src/app/common-app/fails/toolbar/toolbar.component.spec.ts
  src/app/common-app/fails/toolbar/toolbar.component.ts
  src/app/common/input-file/input-file.component.spec.ts
  src/app/common/table-filter/table-filter.component.ts
  src/app/pods/benchmark/benchmark.component.spec.ts
  src/app/utils/chart-styles.global.ts
  src/assets/images/companies/acciona.png
  src/assets/images/companies/bbva.png
  src/assets/images/companies/inditex.png
  src/assets/images/companies/mapfre.png
  src/assets/images/companies/regis-tr.png
  src/assets/images/companies/repsol.png
  src/assets/images/companies/santander.png
Due: eslint --fix, prettier --write ./src

feat: benchmark (#10)
  src/app/app.module.ts
  src/app/common-app/fails/api.temporal.ts
  src/app/common-app/fails/fails.component.spec.ts
  src/app/common-app/fails/fails.component.ts
  src/app/common-app/fails/fails.model.ts
  src/app/common-app/fails/fails.module.ts
  src/app/common-app/fails/fails.service.ts
  src/app/common-app/fails/fais.service.spec.ts
  src/app/common-app/fails/ranking-list/ranking-list.component.spec.ts
  src/app/common-app/fails/ranking-list/ranking-list.component.ts
  src/app/common-app/fails/table-logs/table-logs.component.spec.ts
  src/app/common-app/fails/table-logs/table-logs.component.ts
  src/app/common-app/fails/table-logs/wrapper-table.component.ts
  src/app/common-app/fails/toolbar/toolbar.component.spec.ts
  src/app/common-app/fails/toolbar/toolbar.component.ts
  src/app/common/input-file/input-file.component.spec.ts
  src/app/common/table-filter/table-filter.component.ts
  src/app/pods/benchmark/benchmark.component.spec.ts
  src/app/utils/chart-styles.global.ts
  src/assets/images/companies/acciona.png
  src/assets/images/companies/bbva.png
  src/assets/images/companies/inditex.png
  src/assets/images/companies/mapfre.png
  src/assets/images/companies/regis-tr.png
  src/assets/images/companies/repsol.png
  src/assets/images/companies/santander.png
Due: eslint --fix, prettier --write ./src
